selcode.cn *.selcode.cn{
        gzip
        log access_log.log
        proxy / http://react {  # 转发所有 /ws 为 websocket
                react:3000
        }
        proxy /api http://golang {  # 转发所有 /golang 为 websocket
                golang:5000
        }
}